---
layout: default
title: Home
---

<div class="[ center-by-margin ] [ position--relative ]">
    <!-- BAR -->
    <div class="[ position--absolute w--33vw ] [ bg--root ]" 
        style="top: -1rem; height: calc(100% + 5rem)"></div>

    <!-- POSTS -->
    <div class="[ position--relative ]">
        {% include post-list-item.html %}
        <hr class="[ post-item-list ]">
        {% include post-list-item.html %}
        <hr class="[ post-item-list ]">
        {% include post-list-item.html %}
        <hr class="[ post-item-list ]">
        {% include post-list-item.html %}
        <hr class="[ post-item-list ]">
        {% include post-list-item.html %}
    </div>
</div>