.bg--{
    &root {
        background-color: $color-root;
    }

    &charcoal {
        background-color: $charcoal;
    }

    &cover {
        background-size: cover;
    }

    &center {
        background-position: center center;
    }
}