.position-- {
    &absolute {
        position: absolute;
    }
    
    &relative {
        position: relative;
    }
}

.content-wrapper {
    padding: 4rem;
    width: 100%;

    @include media-query("palm") {
        padding: 3rem 10px;

        max-width: 100vw;
        overflow-x: hidden;
    }

    &.no-vertical {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.lock-width,
    & .lock-width {
        max-width: 60rem;
    }
}

.padding {
    padding: 1rem $gutter;
}

.center-by-margin {
    margin-left: auto !important;
    margin-right: auto !important;
}