<a href="{{ include.post.url | prepend: site.baseurl }}">
    <div class="[ flex justify-content--flex-start align-items--flex-start ]">
        <!-- IMAGE -->
        <div class="[ h--12rem w--33vw padding ]" 
            style="background: #000; background-clip: content-box; background-image: url('{{ "/images/posts/" | prepend: site.baseurl }}{{ include.post.image }}'); background-size: cover;"></div>

        <!-- TITLE -->
        <div class="[ padding ]">
            <div class="[ text--dark-gray text--uppercase ]">{{ include.post.date | date: "%b %e, %Y" }}</div>
            <div class="[ text--extra-large text--dark-blue ]">{{ include.post.title }}</div>
            <div class="[ text--large ]">{{ include.post.subtitle }}</div>
            {% if include.post.category %}
                <div class="[ tag ] [ text--uppercase ]">{{ include.post.category }}</div>
            {% endif %}
        </div>
    </div>
</a>