html
{
    font-family: $sans-serif;
    color: $black;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none
}

body
{
    width: auto;
    margin: 0 auto;
    font-size: $base-font-size;
    line-height: 1.5em;

    -webkit-font-smoothing: antialiased;
}