<!DOCTYPE html>
<html>
<title>{{ site.title }} | {{ page.title }}</title>
<link rel="stylesheet" href="/css/main.css">
<body>
    <div class="menu-bar bg--root [ b--charcoal b--5px ] h--3rem" 
         style="border-left: none; border-right: none; border-bottom: none; margin-bottom: 3rem;">

        <div class="[ content-wrapper no-vertical ] [ center-by-margin ] [ h--full ]">
            <div class="logo h--5rem w--8rem bg--charcoal text--white [ flex align-items--baseline ]">
                <div style="font-size: 5rem;">ER</div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            <h1>This is a heading</h1>
            <p>This is a paragraph.</p>
        </div>
    </div>
</body>
</html> 